* {
  font-family: "Arimo", sans-serif;
}

.app {
  background-color: grey;
}

.header {
  background-color: black;
  margin-bottom: 30px;
  margin-top: 0;
}

.body {
  border: black solid;
  margin: 0 30px 30px 30px;
}

.header h1 {
  color: white;
  display: inline-block;
  margin-top: 0;
  padding-top: 30px;
  padding-left: 40px;
}

.header h3 {
  color: white;
  display: inline-block;
  float: right;
  padding-top: 35px;
  margin-top: 0;
  padding-right: 40px;
}

.content-screen {
  border: solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eff4fa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 70px 70px 0 70px;
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}

.color-buttons {
  margin-left: 70px;
}

.color-buttons button {
  height: 20px;
  margin-bottom: 70px;
  outline: none;
  border: black inset;
}

.red {
  background-color: red;
}

.orange {
  background-color: #ff7f50;
}

.white {
  background-color: white;
}

.blue {
  background-color: #00bfff;
}

.pink {
  background-color: #ff69b4;
}

.green {
  background-color: #7fff00;
}

.yellow {
  background-color: #ffff00;
}

.purple {
  background-color: #9400d3;
}

.how-to {
  height: 100%;
  padding: 0 20px 20px 20px;
}

.how-to :last-child {
  margin-bottom: 20px;
}

.song-menu {
  height: 100%;
}

.song-menu a {
  text-decoration: none;
  color: black;
}

.song-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.song-info img {
  height: 200px;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.song-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 0;
}
.song-info-text h2 {
  margin-top: 15px;
}

.song-info-text h3 {
  margin-top: 0;
}

.circle-menu {
  border: black solid;
  border-radius: 50%;
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". shuffle ."
    "last add next"
    ". home .";
  justify-items: center;
  overflow: hidden;
}

.circle-menu button {
  -ms-flex-line-pack: center;
  align-content: center;
}

.shuffle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: shuffle;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border: none;
  background: none;
  outline: none;
}

.last {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: last;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border: none;
  background: none;
  outline: none;
}

.next {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: next;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border: none;
  background: none;
  outline: none;
}

.add {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: add;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border: black solid;
  border-radius: 50%;
  outline: none;
}

.home {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: home;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border: none;
  outline: none;
  background: none;
}

.circle-menu img {
  height: 50px;
  width: 50px;
  -ms-flex-line-pack: center;
  align-content: center;
}

.new-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.new-song form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.new-song input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit {
  font-size: 25px;
}

footer {
  padding-left: 30px;
  padding-right: 30px;
  width: 100vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: grey;
}

footer img {
  height: 40px;
  width: 40px;
  background-color: grey;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: grey;
  padding-bottom: 10px;
}

@media only screen and (max-width: 479px) {
  .header h1 {
    color: white;
    display: inline-block;
    margin-top: 0;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 20px;
  }

  .header h3 {
    color: white;
    display: inline-block;
    float: right;
    font-size: 15px;
    padding-top: 35px;
    margin-top: 0;
  }

  .content-screen {
    border: solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eff4fa;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 10px 0 10px;
    max-height: 250px;
    overflow-y: scroll;
  }

  .circle-menu {
    height: 225px;
    width: 225px;
  }
  .song-info img {
    height: 125px;
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .song-info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 0;
  }
  .song-info-text h2 {
    font-size: 15px;
    padding-right: 5px;
  }

  .song-info-text h3 {
    font-size: 10px;
    padding-right: 3px;
  }
  .color-buttons {
    margin-left: 10px;
  }

  footer {
    font-size: 12px;
  }
  .new-song form {
    height: 100%;
    overflow-y: scroll;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .new-song {
    height: 100%;
  }
  .new-song h1 {
    font-size: 25px;
  }

  .circle-menu img {
    height: 40px;
    width: 40px;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  footer img {
    height: 30px;
    width: 30px;
    background-color: grey;
  }

  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: grey;
    padding-bottom: 5px;
  }
  .body {
    border: black solid;
    margin: 0 15px 15px 15px;
  }
  .how-to h1 {
    font-size: 20px;
  }
  .how-to p {
    font-size: 15px;
  }

  input.submit {
    font-size: 17px;
    height: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .app {
    height: 100%;
  }

  .header {
    width: 100%;
  }
  .header h1 {
    margin-top: 0;
    padding-top: 30px;
    padding-left: 70px;
    font-size: 65px;
  }

  .header h3 {
    color: white;
    display: inline-block;
    float: right;
    font-size: 40px;
    padding-top: 45px;
    margin-top: 0;
  }

  .content-screen {
    margin: 50px 50px 0 50px;
    max-height: 700px;
    height: 700px;
  }

  .circle-menu {
    height: 525px;
    width: 525px;
  }
  .song-info img {
    height: 325px;
    width: 325px;
    padding-right: 20px;
  }

  .song-info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 0;
  }

  .song-info-text h2 {
    font-size: 40px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .song-info-text h3 {
    font-size: 30px;
    padding-right: 3px;
    padding-left: 3px;
  }

  .song-menu {
    font-size: 33px;
  }

  .color-buttons {
    margin-left: 50px;
  }
  .color-buttons button {
    height: 35px;
    width: 35px;
    margin-bottom: 70px;
    outline: none;
    border: black inset;
  }

  footer {
    font-size: 12px;
  }

  .new-song form {
    height: 100%;
    overflow-y: scroll;
    font-size: 25px;
    padding-bottom: 10px;
  }

  .new-song {
    height: 100%;
  }

  .new-song h1 {
    font-size: 45px;
  }

  .new-song input {
    height: 30px;
  }

  .circle-menu img {
    height: 90px;
    width: 90px;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  footer img {
    height: 60px;
    width: 60px;
    background-color: grey;
  }

  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: grey;
    padding-bottom: 10px;
  }

  footer p {
    font-size: 20px;
  }
  .body {
    border: black solid;
    margin: 0 20px 20px 20px;
  }
  .how-to h1 {
    font-size: 30px;
  }
  .how-to p {
    font-size: 22px;
  }

  input.submit {
    font-size: 30px;
    height: 60px;
  }
}
