.app {
  background-color: grey;
}

.header {
  background-color: black;
  margin-bottom: 30px;
  margin-top: 0;
}

.body {
  border: black solid;
  margin: 0 30px 30px 30px;
}
.header h1 {
  color: white;
  display: inline-block;
  margin-top: 0;
  padding-top: 30px;
  padding-left: 40px;
}

.header h3 {
  color: white;
  display: inline-block;
  float: right;
  padding-top: 35px;
  margin-top: 0;
  padding-right: 40px;
}

.content-screen {
  border: solid black;
  display: flex;
  background-color: #eff4fa;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 70px 0 70px;
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}
.color-buttons {
  margin-left: 70px;
}

.color-buttons button {
  height: 20px;
  margin-bottom: 70px;
  outline: none;
  border: black inset;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.blue {
  background-color: #00bfff;
}
.pink {
  background-color: #ff69b4;
}

.to-do {
  height: 100%;
}

.song-menu {
  height: 100%;
}

.song-menu a {
  text-decoration: none;
  color: black;
}

.song-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.song-info img {
  height: 200px;
  width: 200px;
  padding-right: 20px;
}

.song-info-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 0;
}
.song-info-text h2 {
  margin-top: 15px;
}
.song-info-text h3 {
  margin-top: 0;
}

.circle-menu {
  border: black solid;
  border-radius: 50%;
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". shuffle ."
    "last add next"
    ". home .";
  justify-items: center;
  overflow: hidden;
}

.circle-menu button {
  background: none;
  align-content: center;
}

.shuffle {
  grid-area: shuffle;
  justify-self: stretch;
  align-self: stretch;
  border: none;
  outline: none;
}

.last {
  grid-area: last;
  justify-self: stretch;
  align-self: stretch;
  border: none;
  outline: none;
}
.next {
  grid-area: next;
  justify-self: stretch;
  align-self: stretch;
  border: none;
  outline: none;
}

.add {
  grid-area: add;
  justify-self: stretch;
  align-self: stretch;
  border: black solid;
  border-radius: 50%;
  outline: none;
  /* background-color: `${color}`}; */
}
.home {
  grid-area: home;
  justify-self: stretch;
  align-self: stretch;
  border: none;
  outline: none;
}

.circle-menu img {
  height: 50px;
  width: 50px;
  align-content: center;
}

.footer {
  padding-left: 30px;
  padding-right: 30px;
  background-color: grey;
}
.footer img {
  height: 40px;
  width: 40px;
  align-content: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
